@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* 배경을 어둡게 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal {
  /* position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%); */
  height: 500px;
  width: 400px;
  padding: 20px;
  background: #dafdff;
  border-radius: 25px;
  outline: solid;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* text-align: center; */

  z-index: 2;
}

.modal-content {
  width: 100%;
}

h2 {
  /* font-family: "Comic Sans MS", cursive, sans-serif;
  color: #ffd700;
  text-align: center; */

  font-family: "Nanum Pen Script", cursive;
  color: #edefa8;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
}

.input-group label {
  /* font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 5px; */
  font-family: "Nanum Pen Script", cursive;
  color: #000;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  /* width: 80%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #f7faff; */
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Nanum Pen Script", cursive;
  background-color: #fff;
  color: #000;
}

.sign-in-button {
  background-color: #abe8b4;
  color: #000;
  border: none;
  padding: 5px 15px;
  margin: 20px;
  font-size: 1.2rem;
  font-family: "Nanum Pen Script", cursive;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-left: 70%;
}

.login-button:hover {
  background-color: #98d8a8;
}
