@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.overlay-signup {
  background-color: rgba(0, 0, 0, 0.5); 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-signup {
  height: 500px;
  width: 350px; 
  padding: 20px;
  background: #dafdff;
  border-radius: 25px;
  border: solid 2px black;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-signup h2 {
  font-family: 'Cherry Bomb', cursive;
  color: #edefa8;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.modal-signup form {
  width: 100%;
}

.div-signup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-signup label {
  font-family: 'Nanum Pen Script', cursive;
  color: #000;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  margin-left: 20px;
}

.modal-signup input {
  width: 90%; 
  padding: 10px;
  border-radius: 10px; 
  border: 1px solid #ccc;
  font-family: 'Nanum Pen Script', cursive;
  background-color: #fff;
  color: #000;
}

.button-group-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  width: calc(100% - 40px);
  margin-left: 10px;
}

.button-signup, .button-signup-close {
 background-color: #F6FFDB;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-family: "Nanum Pen Script", cursive;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.button-signup:hover {
  background-color: #98d8a8;
}

.button-signup-close:hover {
  background-color: #98d8a8;
}


.button-signup[type="submit"] {
  background-color: #98d8a8;
}

.button-signup[type="submit"]:hover {
  background-color: #86c79a;
} 
 
