.result-modal-content {
  background: rgba(199, 249, 252, 0.9);
  padding: 20px;
  border-radius: 15px;
  border: solid 2px black;
  width: 350px;
  font-family: "Nanum Pen Script", cursive;
  font-size: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-modal-overlay {
 position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.result-modal-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Nanum Pen Script", cursive;
  color: #000;
}

.result-modal-image.accessory {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  background: none;
}

.result-modal-image.background {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 2px solid black;
  background: white;
}

.result-modal-button {
  background-color: #F8E28E;
  color: #000;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: 70%;
  font-family: "Nanum Pen Script", cursive;
  cursor: pointer;
}

.result-modal-button:hover {
  background-color: #f0f0f0;
}
