.item-selection {
  position: relative;
  width: 250px;
  height: 100%;
  background-color: #f8e28e;
  padding: 10px;
  border-radius: 20px;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b69064;
  width: 90%;
  height: 70%;
  margin: auto;
  border-radius: 20px;
  padding: 10px 0;
}

.item-row {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 35px;
}

.item-row2 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c8b685;
  border-radius: 5px;
  margin: 0 5px;
  border: 1.5px solid black;
}

.item img {
  width: 60px;
  height: 60px;
}

.unmount-item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c8b685;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.unmount-item div {
  font-size: 12px;
  color: black;
  text-align: center;
}

.slide-left,
.slide-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

.slide-left {
  left: -20px;
}

.slide-right {
  right: -20px;
}

.slide-left img,
.slide-right img {
  width: 10px;
  height: 20px;
}

.slide-right img {
  transform: scaleX(-1);
}

.meal-main-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.meal-main-close img {
  width: 20px;
  height: 20px;
  background: none;
  display: block;
}

.item-header {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "Nanum Pen Script", cursive;
  color: black;
  margin-left: 10px;
  margin-top: 10px;
}

.category-buttons {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 50px;
}

.category-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: black;
  font-family: "Nanum Pen Script", cursive;
  border: 1px solid black;
}

.category-button.selected {
  background-color: #c8b685;
  border-radius: 5px;
  padding: 5px 10px;
}
