@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.sidebar {
  position: fixed;
  top: 130px;
  right: 3px;
  width: 30px;
  height: 75%;
  background-color: #f8e28e;
  transition: transform 0.3s ease;
  z-index: 1001;
  border-radius: 20px;
  border: 2px solid black;
}

.sidebar.open .sidebar-content {
  border-left: none;
}

.sidebar.open {
  transform: translateX(-240px);
  height: 60%;
  
}

.slide-button {
  position: absolute;
  top: 50%;
  left: 9px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: -1;
}

.slide-button img {
  width: 10px;
  height: 20px;
}

.sidebar-content {
  position: absolute;
  top: 150px;
  bottom: 150px;
  right: 20px;
  width: 270px;
  /* background-color: #f8e28e; */
  background: rgba(248, 226, 142, 0.9);
  transition: transform 0.3s ease;
  z-index: 1001;
  border-radius: 20px;
  border: 2px solid black;
  padding-bottom: 30px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
}

.close-button img {
  width: 20px;
  height: 20px;
  background: none;
  display: block;
  padding: 10px 15px;
}

.close-button:hover,
.close-button:focus,
.close-button:active {
  background: none;
  transform: none;
  outline: none;
}

.slide-button:hover {
  background-color: #f8e28e;
}

.meal-details {
  width: 250px;
  height: 100%;
  background-color: #f8e28e;
  padding: 10px;
  border-radius: 20px;
  border: solid 2px black;
}

.meal-header {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "Nanum Pen Script", cursive;
  color: black;
  margin-left: 25px;
  margin-top: 15px;
  padding-bottom: 20px;
}

.meal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  font-family: "Nanum Pen Script", cursive;
  font-size: 18px;
  color: black;
  height: 45px;
  margin-left: 20px;
  margin-right: 20px;
}

.meal-item-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  font-family: "Nanum Pen Script", cursive;
  font-size: 18px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.meal-item-calories {
  margin-right: 20px;
  font-family: "Nanum Pen Script", cursive;
  font-size: 18px;
  color: black;
}

.meal-input {
  border: none;
  font-family: "Nanum Pen Script", cursive;
  font-size: 18px;
  color: black;
  width: 70px;
}

.meal-item-day {
  margin-left: 20px;
}

.meal-item-detail input {
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.meal-delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: -15px;
}

.meal-delete-button img {
  width: 20px;
  height: 20px;
}

.add-button-container {
  position: fixed;
  bottom: 0px;
  left: 455%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-button:hover {
  text-decoration: underline;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 150px;
}

.back-button:hover {
  background-color: #f8e28e;
}

.back-button img {
  width: 20px;
  height: 20px;
}

.meal-detail-close {
  position: absolute;
  top: 10px;
  left: 200px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.meal-detail-close img {
  width: 20px;
  height: 20px;
  background: none;
  display: block;
}

.meal-detail-close:hover,
.meal-detail-close:focus,
.meal-detail-close:active {
  background: none;
  transform: none;
  outline: none;
}

.meal-details-back {
  position: absolute;
  top: 16px;
  left: 170px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.meal-details-back img {
  width: 25px;
  height: 25px;
  background: none;
  display: block;
}

.meal-details-back:hover,
.meal-details-back:focus,
.meal-details-back:active {
  background: none;
  transform: none;
  outline: none;
}

.meal-details .slide-button {
  display: none;
}

.slide-left-button {
  position: absolute;
  top: 50%;
  right: 235px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

.slide-left-button img {
  width: 10px;
  height: 20px;
}

.slide-right-button {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

.slide-right-button img {
  width: 10px;
  height: 20px;
  margin-right: 6px;
  transform: scaleX(-1);
}

.slide-left-button:hover,
.slide-right-button:hover {
  background: none;
}

.slide-left-button:hover img {
  background: none;
  transform: none;
  outline: none;
}

.slide-right-button:hover img {
  background: none;
  outline: none;
}

.slide-left-button:focus,
.slide-right-button:focus,
.slide-left-button:active,
.slide-right-button:active {
  outline: none;
  box-shadow: none;
}

.exercise-details {
  position: relative;
  width: 250px;
  height: 100%;
  background-color: #f8e28e;
  padding: 10px;
  border-radius: 20px;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
}

.exercise-item-detail-container {
  flex-grow: 1;
  overflow-y: auto;
}

.exercise-item-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  font-family: "Nanum Pen Script", cursive;
  font-size: 18px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.exercise-item-detail input {
  border: none;
  font-family: "Nanum Pen Script", cursive;
  font-size: 18px;
  color: black;
  width: 70px;
}

.scroll-container {
  max-height: 300px; /* 원하는 최대 높이 설정 */
  overflow-y: auto;
  padding-right: 10px; /* 스크롤 바를 피하기 위한 패딩 */
}

::-webkit-scrollbar {
  width: 0; /* 스크롤바의 너비 */
  background-color: #f8e28e; /* 스크롤바의 배경 색상 */
}
