.exercise-modal {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  width: 300px;
  height: 100%;
  max-width: 90%;
  border-radius: 15px;
  overflow: hidden;
  background: none;
  margin-right: 30px;
  bottom: 5px;
}

.exercise-header {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "Nanum Pen Script", cursive;
  color: black;
  margin-top: 5px;
  align-items: center;
  padding-left: 20px;
}

.exercise-list {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: 80%;
  overflow-y: auto;
  /* max-height: 300px; */
  margin-top: 5px;
  max-height: 90%;
  height: 65%;
}

.exercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  height: 25px;
  position: relative;
  right: 25px;
}

.exercise-display-left {
  flex: 0 0 70%;
  text-align: left;
}

.exercise-display-right {
  flex: 0 0 20%;
  text-align: right;
}

.exercise-add-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background: white;
  width: 175px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.exercise-input-add {
  background: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Nanum Pen Script", cursive;
  padding-left: 10px;
  width: 60%;
}

.exercise-edit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.exercise-edit input[type="text"],
.exercise-edit input[type="number"] {
  width: 45%;
  background: white;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
  font-family: "Nanum Pen Script", cursive;
  height: 25px;
}

.exercise-display {
  font-family: "Nanum Pen Script", cursive;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.exercise-delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.exercise-delete-button img {
  width: 16px;
  height: 16px;
}

.exercise-delete-button:hover,
.exercise-delete-button:focus,
.exercise-delete-button:active {
  background: none;
  transform: none;
  outline: none;
}

.exercise-back-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 40px; 
}

.exercise-back-button img {
  width: 26px;
  height: 26px;
}

.exercise-back-button:hover,
.exercise-back-button:focus,
.exercise-back-button:active {
  background: none;
  transform: none;
  outline: none;
}

.exercise-add-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Nanum Pen Script", cursive;
  width: auto;
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.exercise-add-button:hover,
.exercise-add-button:focus,
.exercise-add-button:active {
  background: #f0f0f0;
  transform: none;
  outline: none;
}

@media (min-width: 1920px) {
  .exercise-modal {
    width: 350px;
    height: 550px;
    max-width: 100%;
  }

  .exercise-list {
    max-height: 400px;
  }

  .exercise-add-container {
    width: 250px;
  }

  .exercise-input-add {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .exercise-modal {
    width: 90%;
    height: 90%;
    max-width: 100%;
  }

  .exercise-header {
    font-size: 1.2em;
    margin-left: 0;
    margin-top: 10px;
  }

  .exercise-list {
    padding-left: 10px;
    max-height: calc(100% - 150px);
  }

  .exercise-item {
    padding: 5px;
    height: auto;
  }

  .exercise-add-container {
    width: calc(100% - 20px);
    padding: 5px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .exercise-input-add {
    padding-left: 5px;
  }

  .exercise-add-button {
    padding: 5px;
    bottom: 20px;
    right: 10px;
  }
}

