.todaymeal-header {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "Nanum Pen Script", cursive;
  color: black;
  margin-left: 25px;
  margin-top: 15px;
}

.todaymeal-list {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  width: 200px;
  overflow-y: auto;
  max-height: 300px;
  margin-top: 10px;
}

.todaymeal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  padding-left: 20px;
  margin-top: 10px;
  height: 25px;
  position: relative;
}

.todaymeal-add-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: white;
  width: 180px; 
  height: 20px; 
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  bottom: 170px; 
  left: 1280px; 
}

.todaymeal-input-add {
  width: 50px; 
  height: 20px;
  background: white;
  color: black;
  border: none;
  font-family: "Nanum Pen Script", cursive;
  padding-left: 10px;
}

.todaymeal-edit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todaymeal-edit input[type="text"] {
  width: 40%; /* or any appropriate value */
  background: white;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
  font-family: "Nanum Pen Script", cursive;
  height: 25px;
}

.todaymeal-edit input[type="number"] {
  width: 40%; /* or any appropriate value */
  background: white;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
  font-family: "Nanum Pen Script", cursive;
}


.todaymeal-display {
  font-family: "Nanum Pen Script", cursive;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todaymeal-display-calorie {
  padding-left: 90px;
  position: fixed;
}

.todaymeal-delete-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px; 
  top: 15px;
  padding: 0;
  display: flex;
  align-items: center;
}

.todaymeal-delete-button img {
  width: 16px;
  height: 16px;
}

.todaymeal-delete-button:hover,
.todaymeal-delete-button:focus,
.todaymeal-delete-button:active {
  background: none;
  transform: none;
  outline: none;
}

.todaymeal-back-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 50px;
}

.todaymeal-back-button img {
  width: 26px;
  height: 26px;
}

.todaymeal-back-button:hover,
.todaymeal-back-button:focus,
.todaymeal-back-button:active {
  background: none;
  transform: none;
  outline: none;
}

.todaymeal-add-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  font-family: "Nanum Pen Script", cursive;
  width: 20px;
  margin-left: auto; 
  position: fixed;
  bottom: 180px; 
  right: 75px; 
}

.todaymeal-add-button:hover,
.todaymeal-add-button:focus,
.todaymeal-add-button:active {
  background: none;
  transform: none;
  outline: none;
}