.initial-weight-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image-weight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/image/background1.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.modal-weight {
  background: #DAFDFF;
  padding: 20px;
  border-radius: 10px;
  border: solid 3px black;
  text-align: center;
  z-index: 1;
}

.h-weight {
  font-family: 'Nanum Pen Script', cursive;
  color: #FF6F61;
  margin-bottom: 20px;
}

.form-weight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group-weight {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.label-weight {
  font-family: 'Nanum Pen Script', cursive;
  color: black;
  margin-right: 10px;
  white-space: nowrap;
}

.input-weight {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Nanum Pen Script', cursive;
  background: #fff;
  color: #000;
}

.btn-weight {
  background-color: #ABE8B4;
  color: #000;
  border: none;
  padding: 5px 15px;
  margin: 10px;
  font-size: 1.2rem;
  font-family: 'Nanum Pen Script', cursive;
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px black;
  transition: background-color 0.3s ease;
  margin-left: 60%;
}

.btn-weight:hover {
  background-color: #98D8A8;
}
